/*!
 * Ninja
 *
 * Copyright © 2013 Kasper K. Isager
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the “Software”), to
 * deal in the Software without restriction, including without limitation the
 * rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
 * sell copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
 * IN THE SOFTWARE.
 */

/* ==========================================================================
 * $ Table Of Contents
 * ========================================================================== */

/*
 * 1. Base
 *   1. Typography
 * 2. Grid
 * 3. Header
 * 4. Buttons
 */

// ==========================================================================
// $ Imports
// ========================================================================== //

@import "ninja/mixins";
@import "ninja/base";

@import "ninja/layout/grid";

@import "ninja/layout/head";
@import "ninja/layout/body";
@import "ninja/layout/foot";

@import "ninja/layout/forms";
@import "ninja/layout/buttons";

.Count {
  display: inline-block;
  padding: 4px 8px;
  color: white;
  background: {
    color: #555555;
  };
  border: {
    radius: 2px;
  };
  font: {
    size: 12px;
    weight: normal;
  };
  line-height: 1;
  text-align: center;
  vertical-align: top;
  &:empty {
    display: none;
  }
}

.PageControls {
  min-height: auto;
  .PagerNub {
    padding: 5px 0;
  }
}

.NumberedPager {
  float: left;
  a,
  span {
    float: left;
    margin: 0;
    padding: 4px 12px;
    font-weight: normal;
    line-height: 20px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #ddd;
    border-left-width: 0;
    &:first-child {
      border-left-width: 1px;
    }
  }

  a:hover,
  .Highlight {
    background: {
      color: whitesmoke;
    };
  }

  span,
  .Highlight {
    color: #999999;
  }
}

.Item {
  &,
  &.Read {
    background: none;
  }
}

.DataList {
  .Item {
    padding: 10px 0;
    border-color: #e5e5e5;
  }
}

.DataTable {
  td {
    padding: 10px {
      left: 0;
    };
    border-color: #e5e5e5;
    vertical-align: middle;
  }
}
