/* Ninja
 *
 * Copyright © 2013 Kasper K. Isager
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the “Software”), to
 * deal in the Software without restriction, including without limitation the
 * rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
 * sell copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
 * IN THE SOFTWARE.
 */
/* ==========================================================================
 * $ Table Of Contents
 * ========================================================================== */
/*
 * 1. Base
 *   1. Typography
 * 2. Grid
 * 3. Header
 * 4. Buttons
 */
/* ==========================================================================
 * $ Base
 * ========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding-top: 50px; }

a {
  -webkit-transition: 0.2s color, 0.2s background, 0.2s box-shadow;
  -moz-transition: 0.2s color, 0.2s background, 0.2s box-shadow;
  -o-transition: 0.2s color, 0.2s background, 0.2s box-shadow;
  transition: 0.2s color, 0.2s background, 0.2s box-shadow; }

::selection {
  background-color: red;
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25); }

ul,
ol {
  margin: 0; }

/* $ Typography
 * ========================================================================== */
@font-face {
  font-family: "SF Shai Fontai";
  src: url('../src/fonts/sf-shai-fontai/webfont.ttf') format('truetype'), url('../src/fonts/sf-shai-fontai/webfont.eot') format('embedded-opentype'), url('../src/fonts/sf-shai-fontai/webfont.svg') format('svg'), url('../src/fonts/sf-shai-fontai/webfont.woff') format('woff'); }

.Row {
  *zoom: 1;
  width: 940px; }
  .Row:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 1200px) {
    .Row {
      width: 1170px; } }

.Column {
  padding-right: 15px;
  padding-left: 15px; }

/* ==========================================================================
 * $ Head
 * ========================================================================== */
#Head {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  background-color: #222222; }
  #Head a {
    color: #999999; }
    #Head a:hover {
      color: white;
      text-decoration: none; }
  #Head .SiteTitle {
    float: left;
    margin: 0; }
    #Head .SiteTitle a {
      display: block;
      padding: 18px 15px 12px 65px;
      background-image: url('../src/images/ninja.svg?1362835855');
      background-size: 35px;
      background-repeat: no-repeat;
      background-position: center left 15px;
      font-family: "SF Shai Fontai";
      font-size: 32px;
      font-weight: 500;
      line-height: 20px; }
  #Head .SiteMenu {
    float: left; }
    #Head .SiteMenu ul {
      float: left;
      margin: 0; }
    #Head .SiteMenu li {
      float: left; }
    #Head .SiteMenu a {
      display: block;
      padding: 15px;
      font-size: 14px;
      font-weight: normal;
      line-height: 20px; }
    #Head .SiteMenu .Selected {
      color: white;
      background-color: #080808; }
  #Head .SiteSearch form {
    padding: 9px 15px; }
    #Head .SiteSearch form div {
      position: relative; }
  #Head .SiteSearch .InputBox {
    width: 200px;
    padding: 6px;
      padding-right: 30px;
    font-size: 14px;
    line-height: 20px; }
  #Head .SiteSearch .Button {
    top: 0;
    right: 0;
    margin: 7px; }

/* ==========================================================================
 * $ Body
 * ========================================================================== */
#Body .Column {
  margin: 0 0 15px; }
#Body .BreadcrumbsColumn {
  margin: 15px 0; }
#Body .ContentColumn {
  margin-left: 25%; }
#Body h1.H,
#Body .HomepageTitle {
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 19px;
  color: #5a5a5a;
  border-bottom: 1px solid #eeeeee; }
#Body .PageDescription {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 1.25; }

#Breadcrumbs .Breadcrumbs {
  display: block;
  padding: 8px 15px;
  background-color: whitesmoke;
  text-shadow: 0 1px 0 white; }
  #Breadcrumbs .Breadcrumbs .Crumb {
    padding: 0 5px;
    color: #cccccc; }
  #Breadcrumbs .Breadcrumbs .HomeCrumb > span,
  #Breadcrumbs .Breadcrumbs > span:last-child > a,
  #Breadcrumbs .Breadcrumbs .Crumb + span:last-child span {
    color: #999999; }
    #Breadcrumbs .Breadcrumbs .HomeCrumb > span:hover,
    #Breadcrumbs .Breadcrumbs > span:last-child > a:hover,
    #Breadcrumbs .Breadcrumbs .Crumb + span:last-child span:hover {
      text-decoration: none; }

/* $ Panel
 * ========================================================================== */
#Panel {
  width: 25%; }
  #Panel > *:first-child,
  #Panel > * > *:first-child {
    margin-top: 0; }
  #Panel > *:last-child,
  #Panel > * > *:last-child {
    margin-bottom: 0; }
  #Panel .PanelCategories .Depth1 a {
    margin-left: 0px; }
  #Panel .PanelCategories .Depth2 a {
    margin-left: 10px; }
  #Panel .PanelCategories .Depth3 a {
    margin-left: 20px; }
  #Panel .PanelCategories .Depth4 a {
    margin-left: 30px; }
  #Panel .PanelCategories .Depth5 a {
    margin-left: 40px; }
  #Panel .PanelCategories .Depth6 a {
    margin-left: 50px; }
  #Panel .PanelCategories .Depth7 a {
    margin-left: 60px; }
  #Panel .PanelCategories .Depth8 a {
    margin-left: 70px; }
  #Panel .PanelCategories .Depth9 a {
    margin-left: 80px; }
  #Panel .PanelCategories .Depth10 a {
    margin-left: 90px; }
  #Panel .PanelCategories .Depth11 a {
    margin-left: 100px; }
  #Panel .PanelCategories .Depth12 a {
    margin-left: 110px; }
  #Panel .PanelInfo li,
  #Panel .FilterMenu li {
    padding: 0;
    border: none;
    line-height: 20px;
    background-color: whitesmoke; }
    #Panel .PanelInfo li a,
    #Panel .FilterMenu li a {
      color: #999999; }
    #Panel .PanelInfo li a, #Panel .PanelInfo li.Heading,
    #Panel .FilterMenu li a,
    #Panel .FilterMenu li.Heading {
      position: relative;
      display: block;
      margin-bottom: -1px;
      padding: 10px 15px;
      background-color: white;
      border: 1px solid #e5e5e5; }
    #Panel .PanelInfo li a:hover,
    #Panel .FilterMenu li a:hover {
      background-color: #eeeeee;
      text-decoration: none; }
    #Panel .PanelInfo li:first-child, #Panel .PanelInfo li:last-child,
    #Panel .FilterMenu li:first-child,
    #Panel .FilterMenu li:last-child {
      border: none; }
    #Panel .PanelInfo li.Active a,
    #Panel .FilterMenu li.Active a {
      z-index: 2;
      color: white;
      background-color: #555555;
      border-color: #555555;
      font-weight: normal; }
    #Panel .PanelInfo li.Active .Count,
    #Panel .FilterMenu li.Active .Count {
      color: #555555;
      background-color: white; }

/* $ Content
 * ========================================================================== */
#Content {
  width: 75%; }

/* ==========================================================================
 * $ Foot
 * ========================================================================== */
#Foot {
  margin: 0;
  padding: 0; }
  #Foot:before {
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    background: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    content: "";
    display: block;
    height: 1px;
    margin: 20px 0;
    border: 0; }
  #Foot #Legal {
    *zoom: 1;
    margin-bottom: 20px; }
    #Foot #Legal:after {
      content: "";
      display: table;
      clear: both; }
  #Foot .Copyright {
    float: left; }
  #Foot .Credits {
    float: right; }

/* ==========================================================================
 * $ Forms
 * ========================================================================== */
input.DateBox,
input.InputBox,
input.SmallInput,
textarea {
  padding: 6px;
  background-color: white;
  border: 1px solid #eeeeee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px; }
  input.DateBox:focus,
  input.InputBox:focus,
  input.SmallInput:focus,
  textarea:focus {
    background-color: white; }

.TextBoxWrapper {
  padding-right: 0; }

/* ==========================================================================
 * $ Buttons
 * ========================================================================== */
.Button,
.NavButton {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition: 0.2s color, 0.2s background, 0.2s box-shadow;
  -moz-transition: 0.2s color, 0.2s background, 0.2s box-shadow;
  -o-transition: 0.2s color, 0.2s background, 0.2s box-shadow;
  transition: 0.2s color, 0.2s background, 0.2s box-shadow;
  padding: 10px 14px;
  color: white;
  background-color: #555555;
  background-image: none;
  border: none;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-shadow: none; }
  .Button:hover, .Button:focus, .Button:active,
  .NavButton:hover,
  .NavButton:focus,
  .NavButton:active {
    color: white;
    background-color: #222222;
    text-decoration: none; }
  .Button:active, .Button.Active, .ButtonGroup.Open .Button.Handle,
  .NavButton:active,
  .NavButton.Active, .ButtonGroup.Open
  .NavButton.Handle {
    background: #333333;
    -webkit-box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.25);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #222222));
    background-image: -webkit-linear-gradient(#444444, #222222);
    background-image: -moz-linear-gradient(#444444, #222222);
    background-image: -o-linear-gradient(#444444, #222222);
    background-image: linear-gradient(#444444, #222222); }

.BigButton {
  padding: 15px 20px;
  font-size: 16px; }

.ButtonGroup .Button {
  display: block;
  height: 46px;
  width: auto !important;
  margin-right: 48px; }
.ButtonGroup.Big .Button {
  padding: 15px 20px;
  font-size: 16px; }
.ButtonGroup .Handle {
  float: right;
  width: 48px;
  margin: 0;
    margin-top: -46px; }
  .ButtonGroup .Handle .Sprite {
    border-top-color: white; }
.ButtonGroup .Dropdown {
  margin: 0; }

.Dropdown,
.MenuItems {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  padding: 0 0 6px 0;
  margin: 0;
  background-color: white;
  font-size: 14px;
  border: 1px solid #eeeeee; }
  .Dropdown:before, .Dropdown:after,
  .MenuItems:before,
  .MenuItems:after {
    display: none; }
  .Dropdown li a, .Dropdown li a:link,
  .MenuItems li a,
  .MenuItems li a:link {
    position: relative;
    padding: 6px 10px;
    color: #333333;
    text-decoration: none;
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    white-space: nowrap;
    font-size: 14px; }
  .Dropdown li a:hover,
  .MenuItems li a:hover {
    color: #333333 !important;
    background-color: #eeeeee !important; }
  .Dropdown hr,
  .MenuItems hr {
    margin: 5px; }

.Count {
  display: inline-block;
  padding: 4px 8px;
  color: white;
  background-color: #555555;
  border-radius: 2px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  vertical-align: top; }
  .Count:empty {
    display: none; }

.PageControls {
  min-height: auto; }
  .PageControls .PagerNub {
    padding: 5px 0; }

.NumberedPager {
  float: left; }
  .NumberedPager a,
  .NumberedPager span {
    float: left;
    margin: 0;
    padding: 4px 12px;
    font-weight: normal;
    line-height: 20px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #dddddd;
    border-left-width: 0; }
    .NumberedPager a:first-child,
    .NumberedPager span:first-child {
      border-left-width: 1px; }
  .NumberedPager a:hover,
  .NumberedPager .Highlight {
    background-color: whitesmoke; }
  .NumberedPager span,
  .NumberedPager .Highlight {
    color: #999999; }

.Item, .Item.Read {
  background: none; }

.DataList .Item {
  padding: 10px 0;
  border-color: #e5e5e5; }

.DataTable td {
  padding: 10px;
    padding-left: 0;
  border-color: #e5e5e5;
  vertical-align: middle; }
